@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.notification {
  padding: 12px;

  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}

.notification--success {
  border-color: #66c47c;
  background-color: #a0d1b1;
}

.notification--error {
  border-color: #db626e;
  background-color: #df9aa1;
}

.hidden {
  display: none;
}
