* {
  box-sizing: border-box;
}

.alert {
  padding: 12px;

  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}

.alert--success {
  border-color: #66c47c;
  background-color: #a0d1b1;
}

.alert--error {
  border-color: #db626e;
  background-color: #df9aa1;
}

.hidden {
  display: none;
}

.blogs {
  padding: 0;
  max-width: 600px;
}

.blog {
  list-style: none;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0;
}
